* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: lightcoral;
}
.main {
    border: 1px solid darkslategrey;
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 40px;
    margin-bottom: -10px;
    margin-left: 250px;
    margin-right: 200px;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 50px;
    background-color: rgb(206, 99, 87);
    position: absolute;
}
.sad {
    padding: 2px;
    border-radius: 6px 17px;
    border: 1px ridge grey;
    opacity: 0.8;
}
.setting {
    margin-top: -140px;
    margin-left: 390px;
}
#username {
    padding-right: 80px;
    border-style: hidden;
    border-left: 6px solid rgb(49, 22, 22);
}
#password {
    padding-right: 80px;
    margin-left: 5px;
    border-style: hidden;
    border-left: 6px solid rgb(49, 22, 22);
    background-color: rgba(49, 22, 22, 0.397);
    color: wheat;
    cursor: context-menu;
}
#email {
    padding-right: 46px;
    border-style: hidden;
    border-left: 6px solid rgb(49, 22, 22);
}
#username:hover {
    background-color: rgba(49, 22, 22, 0.397);
    color: wheat;
    cursor: context-menu;
}

#email:hover {
    background-color: rgba(49, 22, 22, 0.397);
    color: wheat;
    cursor: context-menu;
}
.forgot {
    background-color: rgba(128, 0, 0, 0.616);
    color: whitesmoke;
    border-radius: 4px 3px;
    box-shadow: 3px 4px black;
}
.date {
    text-shadow: 3px 8px firebrick;
    color: wheat;
    margin-left: -350px;
}
.submit, .login, .signup {
    margin-top: 40px;
    color: brown;
    background-color: wheat;
    padding: 4px;
}
.submit:hover {
    background-color: brown;
    color: wheat;
    cursor: grab;
    box-shadow: 3px 4px black;
    border-radius: 5px 12px;
}
.login:hover {
    background-color: brown;
    color: wheat;
    cursor: grab;
    border-radius: 5px 15px;
    box-shadow: 3px 4px black;
}
.signup:hover {
    background-color: brown;
    color: wheat;
    cursor: grab;
    border-radius: 8px;
    box-shadow: 3px 4px black;
}
